[package]
name = "xtask"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
clap = { version = "4.5.26", features = ["derive"] }
clap_mangen = "0.2.31"
pinit-cli = { path = "../pinit-cli" }
