name: semver

on:
  pull_request:
  push:
    branches:
    - main
    tags:
    - "v*"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  semver:
    name: Semver check
    runs-on: ubuntu-latest
    # only run if there is a version tag in the repo
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        fetch-depth: 0

    - name: Check semver
      uses: obi1kenobi/cargo-semver-checks-action@5b298c9520f7096a4683c0bd981a7ac5a7e249ae  # v2
